<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::content})}">
<body>
<section th:fragment="content">
    <div class="row justify-content-center">
        <div class="col-md-5 col-lg-4">
            <div class="bg-white border rounded p-4">
                <h3 class="mb-3">Вход</h3>
                <form method="post" th:action="@{/users/login}">
                    <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
                    <input class="form-control mb-2" name="email" type="email"
                           placeholder="Email" required>
                    <input class="form-control mb-3" name="password" type="password"
                           placeholder="Пароль" required>
                    <button class="btn btn-primary w-100">Войти</button>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>
